* {
  padding: 0;
  margin: 0;
  border: 0;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.game-start {
  background-image: linear-gradient(to top left, #FFF3EB 50%, #FFFFFF 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.game-start.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 1440px) {
  .container--flex {
    display: flex;
  }
}

.team-img__item {
  margin-bottom: 24px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team-img__item {
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 1440px) {
  .team-img__item {
    margin-bottom: 0;
  }
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  text-align: center;
  margin-bottom: 102px;
  color: #1C1C21;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 56px;
    text-align: start;
    margin-bottom: 64px;
  }
}

.start-button {
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #FF8B37;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 116%;
  color: #FFFFFF;
  display: block;
}

.start-button:active {
  background-color: #E87928;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .start-button {
    width: 390px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .start-button {
    width: 296px;
    border-radius: 12px;
    padding: 21px 24px 20px 24px;
    font-size: 20px;
  }
  .start-button:hover {
    background-color: #FFAC70;
  }
  .start-button:active {
    background-color: #E87928;
  }
}

@media screen and (min-width: 1440px) {
  .desktop-right-block {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    margin-left: 32px;
  }
}

.game-section {
  background-color: #F5F5F7;
  height: 100vh;
  display: flex;
  padding-bottom: 24px;
}

.game-section.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container--game-flex {
  align-self: flex-end;
}

.menu-open-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  color: #1C1C21;
  margin-bottom: 97px;
}

.answers {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .answers {
    justify-content: center;
    align-items: center;
  }
}

.answer-button {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: transparent;
  text-align: start;
  padding: 0 24px;
}

.answer__leter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 116%;
  color: #FF8B37;
  margin-right: 8px;
}

.answer__item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  color: #1C1C21;
  position: relative;
  width: 288px;
  height: 56px;
  background-image: url(../images/Rectangle1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.answer__item + .answer__item {
  margin-top: 8px;
}

.answer__item::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 1px;
  left: -17px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.answer__item::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 1px;
  right: -px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

@media screen and (min-width: 768px) {
  .answer__item {
    width: 389px;
    background-image: url(../images/Rectangle1_desktop_.png);
    background-size: cover;
    height: 72px;
  }
}

.menu-section {
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  height: 100vh;
  padding: 32px 0;
  background-color: #F5F5F7;
}

.menu-section.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container--menu-flex {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.prizes {
  align-self: flex-end;
  margin-top: 32px;
}

.menu-close-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize__item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  color: #1C1C21;
  width: 240px;
  padding: 8px 24px;
  background-image: url(../images/Rectangle2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.prize__item::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 1px;
  left: -41px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.prize__item::after {
  content: "";
  position: absolute;
  width: 41px;
  height: 1px;
  right: -41px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.prize__item + .prize__item {
  margin-top: 8px;
}

.game-desktop {
  background-color: #F5F5F7;
}

.game-desktop.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container--desktop-game-flex {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  margin-right: 0;
}

.game-left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 376px);
  padding-top: 133px;
  padding-bottom: 122px;
}

.game-right-section {
  width: 376px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-question {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  color: #1C1C21;
}

.desktop-answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.desktop-answer__item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 116%;
  color: #1C1C21;
  position: relative;
  width: 389px;
  height: 72px;
  background-image: url(../images/Rectangle1_desktop_.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-answer__item::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 1px;
  left: -17px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.desktop-answer__item::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 1px;
  right: -17px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.desktop-answer__item:not(:nth-child(2n)) {
  margin-right: 34px;
}

.desktop-answer__item:not(:nth-child(2)) {
  margin-bottom: 32px;
}

.desktop-prize__item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 116%;
  color: #1C1C21;
  width: 240px;
  padding: 8px 24px 9px 24px;
  background-image: url(../images/Rectangle2_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.desktop-prize__item::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 1px;
  left: -69px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.desktop-prize__item::after {
  content: "";
  position: absolute;
  width: 69px;
  height: 1px;
  right: -69px;
  top: calc(50% - 0px/2);
  background-color: #D0D0D8;
}

.desktop-prize__item + .desktop-prize__item {
  margin-top: 8px;
}

.desktop-answer__leter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  color: #FF8B37;
  margin-right: 8px;
}

.game-end {
  background-color: #F5F5F7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-end.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.paragraf-end {
  color: #D0D0D8;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.end-button {
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #FF8B37;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 116%;
  color: #FFFFFF;
  display: block;
}

.end-button:active {
  background-color: #E87928;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .end-button {
    width: 390px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .end-button {
    width: 296px;
    border-radius: 12px;
    padding: 21px 24px 20px 24px;
    font-size: 20px;
  }
  .end-button:hover {
    background-color: #FFAC70;
  }
  .end-button:active {
    background-color: #E87928;
  }
}

.paragraf-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  color: #1C1C21;
  opacity: 0.5;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .paragraf-end {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .paragraf-end {
    font-size: 32px;
  }
}
/*# sourceMappingURL=main.css.map */