.game-section{
    background-color: $gameBackgroundColor;
    height: 100vh;
    display: flex;
    padding-bottom: 24px;
    &.is-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
}

.container--game-flex{
    align-self: flex-end;
}

.menu-open-btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    text-align: center;
    color: $titleColor;
    margin-bottom: 97px;
}

.answers{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
        justify-content: center;
        align-items: center;
    }
}

.answer-button{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: transparent;
    text-align: start;
    padding: 0 24px;
}

.answer__leter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116%;
    color: $mainOrangeColor;
    margin-right: 8px;
}

.answer__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 116%;
    color: $answerColor;
    position: relative;
    width: 288px;
    height: 56px;
    & + &{
        margin-top: 8px;
    }
    background-image: url(../images/Rectangle1.png);
    background-size: contain;
    background-repeat: no-repeat;
    &::before{
        content: "";
        position: absolute;
        width: 17px;
        height: 1px;
        left: -17px;
        top: calc(50% - 0px/2);
        background-color: $innactiveBorderColor;
    }
    &::after{
        content: "";
        position: absolute;
        width: 17px;
        height: 1px;
        right: -px;
        top: calc(50% - 0px/2);
        background-color: $innactiveBorderColor;
    }
    @media screen and (min-width: 768px){
        width: 389px;
        background-image: url(../images/Rectangle1_desktop_.png);
        background-size: cover;
        height: 72px;
    }
}