.menu-section{
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;    
    height: 100vh;
    padding: 32px 0;
    background-color: $gameBackgroundColor;
    &.is-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
}

.container--menu-flex{
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.prizes{
    align-self: flex-end;
    margin-top: 32px;
}

.menu-close-btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prize__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 116%;
    color: $answerColor;
    width: 240px;
    padding: 8px 24px;
    background-image: url(../images/Rectangle2.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    &::before{
        content: "";
        position: absolute;
        width: 41px;
        height: 1px;
        left: -41px;
        top: calc(50% - 0px/2);
        background-color: $innactiveBorderColor;
    }
    &::after{
        content: "";
        position: absolute;
        width: 41px;
        height: 1px;
        right: -41px;
        top: calc(50% - 0px/2);
        background-color: $innactiveBorderColor;
    }
    & + &{
        margin-top: 8px;
    }
}
