$innactiveBorderColour: #D0D0D8;


$correctBackgroundColour: #E6FAEA;
$correctBordersColour: #47D867;

$selectedBackgroundColour: #FFF3EB;
$selectedBordersColour: #FF8B37; 

$wrongBackgroundColour: #FDEEED;
$wrongBordersColour: #EC6259;

$mainOrangeColour: #FF8B37;

$hoverButtonColour: #FFAC70;
$pressedButtonColour: #E87928;

$titleColour: #1C1C21;