$innactiveBorderColor: #D0D0D8;


$correctBackgroundColor: #E6FAEA;
$correctBordersColor: #47D867;

$selectedBackgroundColor: #FFF3EB;
$selectedBordersColor: #FF8B37; 

$wrongBackgroundColor: #FDEEED;
$wrongBordersColor: #EC6259;

$mainOrangeColor: #FF8B37;

$hoverButtonColor: #FFAC70;
$pressedButtonColor: #E87928;

$titleColor: #1C1C21;